extends layout

block content
  h1= Webapps 
  p Welcome to #{title}
  p Saikumar Thangalla pursuing Masters at Northwest Missouri state university
  button(type="button", class="btn btn-primary") Press me 