extends layout

block content
  h1= title
  form(id='instituteForm', action="/resource/institute", method="POST")
    div.form-group
      label.instituteAttr(for='Name') Name
      input#Name(type='text', name='Name')
    div.form-group
      label.instituteAttr(for='Size') Size
      input#Size(type='text', name='Size')
    div.form-group
      label.instituteAttr(for='year') year
      input#year(type='number', name='year')
    input(type="submit")

  script.
    document.forms['instituteForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)), // event.target is the form
      })
        .then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        })
        .then((body) => {
          alert("Save succeeded");
          // TODO handle body
        })
        .catch((error) => {
          // TODO handle error
          alert("Save failed " + error);
        });
    });
